  <span  class="social-icons">
  <a href="https://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ site.owner.twitter }}"  class="social-icons" target="_blank" title="Share on twitter"> <i class="fa fa-twitter"></i></a>

  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"  class="social-icons" target="_blank" title="Share on Google+"> <i class="fa fa-google-plus"></i></a>

  <a href="http://service.weibo.com/share/share.php?title={{ page.title }} - The Economist&amp;url={{ site.url }}{{ page.url }}&amp;ralateUid=6035048806"  class="social-icons" target="_blank" title="Share on Sina Weibo"> <i class="fa fa-weibo"></i></a>

  <a href="#comments" class="social-icons" title="Comments"><i class="fa fa-comments"></i></a>
  </span>

<style>
	
/*Share Buttons*/
.social-icons a{
    text-decoration: none
    color: #999
}
span.social-icons {
    display: block;
    padding-top: .5px;
    padding-bottom: 0px;
    margin-left:.15rem;
}

.fa-twitter,
.fa-google-plus,
.fa-comments,
.fa-weibo{
    padding: 1px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s
}

.fa-twitter,
.fa-google-plus,
.fa-comments,
.fa-weibo{
    transition: .5s;
    color: #9A9A9A;
    vertical-align: none;
}

.fa-weibo:hover {
    color: #268bd2;
    background-color: #fff
}
.fa-twitter:hover {
    color: #268bd2;
    background-color: #fff
}
.fa-google-plus:hover {
    color: #268bd2;
    background-color: #fff
}
.fa-comments:hover {
    color: #268bd2;
    background-color: #fff
}


</style>